.user-icon {
  width: 24px;
  height: 24px;
  background: url(./assets/user.svg) center center;
  background-size: contain;
}

.wrapper .item:hover {
  background-color: #ffffff;
  border-color: #D9C7FA;
}

.wrapper .item-active {
  background-color: #ffffff;
  border-width: 1.5px;
  border-color: #A679F3;
}

.wrapper .item-active .radio {
  border-width: 5px;
  border-color: #7C3AED;
}

.wrapper .item-active:hover {
  border-width: 1.5px;
  border-color: #A679F3;
}

.wrapper .item.disable {
  @apply opacity-60;
}
.wrapper .item-active.disable {
  @apply opacity-60;
}
.wrapper .item.disable:hover {
  @apply bg-gray-25 border-[0.5px] border-gray-300 shadow-none cursor-default opacity-60;
}
.wrapper .item-active.disable:hover {
  @apply cursor-default opacity-60;
  border-width: 1.5px;
  border-color: #A679F3;
}