.item {
  @apply relative p-4 rounded-xl border-[0.5px] border-gray-300 cursor-pointer;
  background-color: #fcfcfd;
}

.item.active {
  border-width: 1.5px;
  border-color: #A679F3;
}

.item:hover {
  background-color: #ffffff;
  border-color: #D9C7FA;
}

.radio {
  @apply w-4 h-4 border-[2px] border-gray-300 rounded-full;
}

.item.active .radio {
  border-width: 5px;
  border-color: #7C3AED;
}